.DS_Store
.history
node_modules
/dist
package-lock.json
dist

# local env files
.env.local
.env.*.local
.env.development

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
deploy.sh
yj_dist

.npmrc