<div
  style="
    font: Microsoft YaHei;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 40px;
    font-size: 9px;
  "
>
  <div>主页：www.AABBCC.com</div>
  <div>全国服务服热线：000-111-2222</div>
  <div>企业微信：AABBCC</div>
  <div><span class="totalPages"></span>/<span class="pageNumber"></span></div>
</div>
<!-- header footer 仅支持 内联样式 base64图片 -->
