<div style="font: Microsoft YaHei; width: 100%; margin: 0 35px; box-sizing: border-box; font-size: 9px">
  <div style="display: flex; justify-content: space-between">
    <div>
      <img
        style="width: 100px; height: 100%"
        src="data:image/png;base64,ABC"
        alt="AA"
      />
    </div>
    <div style="display: flex; flex-direction: column-reverse; font-size: 7px">
      同一个世界，同一个梦想！
    </div>
  </div>
  <div style="border-bottom: 0.5px solid #adadad"></div>
</div>